# IntelliJ IDEA
/.idea/
/*.iml
/*.iws

# Maven
/target/
/release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Java
*.class

# Log files
*.log

# OS files
.DS_Store
Thumbs.db